extends ../layout

block content
  +navbar()
  h1= title
  p Welcome to #{title}
  .row
    div(class="col-sm-6 col-md-3")
      .thumbnail
        img(src='images/Java.png')
        .caption
          h3 Java基础课程
          p ...
          p
            a(href="/lessons/1", class="btn btn-primary btn-lg") 学习 »

    div(class="col-sm-6 col-md-3")
      .thumbnail
        img(src='images/C.png')
        .caption
          h3 C基础课程
          p ...
          p
            a(href="/lessons/2", class="btn btn-primary btn-lg") 学习 »
    div(class="col-sm-6 col-md-3")
      .thumbnail
        img(src='images/Java.png')
        .caption
          h3 Java基础课程
          p ...
          p
            a(href="/lessons/3", class="btn btn-primary btn-lg") 学习 »

    div(class="col-sm-6 col-md-3")
      .thumbnail
        img(src='images/C.png')
        .caption
          h3 C基础课程
          p ...
          p
            a(href="/lessons/4", class="btn btn-primary btn-lg") 学习 »
  .row
    div(class="col-sm-6 col-md-3")
      .thumbnail
        img(src='images/Java.png')
        .caption
          h3 Java基础课程
          p ...
          p
            a(href="/lessons/5", class="btn btn-primary btn-lg") 学习 »

    div(class="col-sm-6 col-md-3")
      .thumbnail
        img(src='images/C.png')
        .caption
          h3 C基础课程
          p ...
          p
            a(href="/lessons/6", class="btn btn-primary btn-lg") 学习 »
    div(class="col-sm-6 col-md-3")
      .thumbnail
        img(src='images/Java.png')
        .caption
          h3 Java基础课程
          p ...
          p
            a(href="/lessons/7", class="btn btn-primary btn-lg") 学习 »

    div(class="col-sm-6 col-md-3")
      .thumbnail
        img(src='images/C.png')
        .caption
          h3 C基础课程
          p ...
          p
            a(href="/lessons/8", class="btn btn-primary btn-lg") 学习 »
