doctype 5
html(lang="zhCN")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-2.0.3.min.js")
		script(src="/javascripts/bootstrap.min.js")

	body
	- var navs = [{url:'/colleges', title:"院系"},{url:'/branches', title:"专业"},{url:'/courses', title:"课程"},{url:'/about', title:"关于"}]
		nav(class=['navbar', 'navbar-default'], role='navigation')
			.navbar-header
				a(class="navbar-brand", href="/"): img(src='/images/Home.png')
			div.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav
					- navs.forEach(function(item){
						- var active = (item.url == path ? 'active' : '')
						li(class=active)
							a(href=item.url)= item.title
					- })

		block content