extends layout

block content
	h1= title

	section#sidebar
		nav#sidebar-nav
			h2 C语言：基础功能
			.list-group#titles
				
		#sidebar-controls
			a.sidebar-rewatch(href="#") 观看教学视频
			a.sidebar-slides(href="#", target="blank") 下载幻灯片
		footer
			a.sidebar-about(href="#") A Bulblor Labs Product

	section#editor-panels
			ul.nav.nav-tabs#editor-tabs
				//-li.active
				//-	a(data-target="#editor-buffer-00") title.c
				//-li
				//-	a(data-target="#editor-buffer-01") title.h
			.tab-content#editor-buffers
				//-#editor-buffer-00.tab-pane.fade.active.in
				//-	.editor #include &lt;stdio.h&gt;
				//-#editor-buffer-01.tab-pane.fade.active.in
				//-	.editor #include &lt;stdlib.h&gt;
			// button.btn.btn-default#compile 编译
			button.btn.btn-primary#run 运行

	section#output-panels
			ul.nav.nav-tabs
				li.active
					a(data-target="console") 控制台
			.tab-content
				.tab-pane.fade.active.in#console
					pre >gcc helloworld.c
	script(type="text/javascript", src="/javascripts/lib/ace.js")
	script(type="text/javascript", src="/javascripts/lib/ext-modelist.js")
	script(type='text/javascript').
		var exercises = JSON.parse( !{JSON.stringify(exedb)} );
		var sources = []

		// sidebar titles 
		for (var i=0;i<exercises.length;++i)
			$('#titles').append("<a class=\"list-group-item\", data-target=\""+i+"\">"+exercises[i].title+"</a>")

		$('#titles :first-child').addClass('active')

		// editors
		var files = exercises[0].files
		for (var i=0;i <files.length; i++){
			var file = files[i]
			var id = "editor-buffer-"+i
			sources.push({name:file.name})
			$('#editor-tabs').append("<li><a data-target=\"#"+id+"\">"+file.name+"</a></li>")
			$('#editor-buffers').append(
				"<div id=\""+id+"\" class=\"tab-pane fade\"><div class=\"editor\">"+file.initial_value+"</div></div>"
			)
		}
		console.log(sources)
		$('#editor-tabs :first-child').addClass('active')
		$('#editor-buffers :first-child').addClass('active in')
		$(".nav-tabs a").click(function(e) {$(this).tab('show')})
		var editors = []
		$(".editor").each(function(index) {
			var editor = ace.edit(this);
			editor.setTheme("ace/theme/chrome");
			var modelist = require('ace/ext/modelist');
			var mode = modelist.getModeForPath(files[index].name)
			editor.getSession().setMode(mode.mode);
			editor.setFontSize(14);
			editors.push(editor)
		});

		$('#run').click(function()
		{
			for (var i = 0; i < sources.length; i++) {
				sources[i].content = editors[i].getSession().getValue()
			}
			$.post('/build', {sources:sources}, function(res){
				$('#console').children('pre').text(res.outputs)
			})
		});
