extends layout

block content
	h1= title

	#instructions.col-sm-12.col-md-6

	#exercises.col-sm-12.col-md-6
		#editor-panels
				ul#editor-tabs.nav.nav-tabs
				#editor-buffers.tab-content

		#exercise-links.btn-toolbar
			.btn-group
				button.btn.btn-default 提示

			.btn-group.pull-right
				button#commit.btn.btn-success(title="修改代码后再尝试提交") 提交
				button.btn.btn-default 下一个

		#output-panels
			ul.nav.nav-tabs
				li.active
					a(data-target="console") 控制台
			.tab-content
				.tab-pane.fade.active.in#console
					pre
	script(type="text/javascript", src="/javascripts/lib/ace.js")
	script(type="text/javascript", src="/javascripts/lib/ext-modelist.js")
	script(type='text/javascript').
		var exercises = JSON.parse( !{JSON.stringify(exedb)} );
		var sources = []
		// 
		$('#instructions')
			.append('<h1>'+exercises[0].title+'</h1>')
			.append(exercises[0].instructions)

		// editors
		var current = 0 // current editor index
		var files = exercises[0].files
		for (var i=0;i <files.length; i++){
			var file = files[i]
			var id = "editor-buffer-"+i
			sources.push({name:file.name})
			$('#editor-tabs').append("<li><a data-target=\"#"+id+"\">"+file.name+"</a></li>")
			$('#editor-buffers').append(
				"<div id=\""+id+"\" class=\"tab-pane fade\"><div class=\"editor\">"+file.initial_value+"</div></div>"
			)
		}

		$('#editor-tabs :first-child').addClass('active')
		$('#editor-buffers :first-child').addClass('active in')
		$(".nav-tabs a").click(function(e){
			$(this).tab('show');
			current = $(this).attr('data-target').match(/\d+/);
		})
		var editors = []
		$(".editor").each(function(index){
			var editor = ace.edit(this);
			editor.setTheme("ace/theme/chrome");
			var modelist = require('ace/ext/modelist');
			var mode = modelist.getModeForPath(files[index].name)
			editor.getSession().setMode(mode.mode);
			editor.setFontSize(14);
			editor.setShowPrintMargin(false);
			editors.push(editor);
		});

		var posted = false;
		$('#commit').click(function(){
			if (posted)
				return;
			console.log("Post...");
			posted = true;
				
			editors[current].focus();
			for (var i = 0; i < sources.length; i++){
				sources[i].content = editors[i].getSession().getValue()
			}
			$.post('/build', {sources:sources}, function(res){
				$('#console pre').append(res.outputs);
				posted = false;
			})
		});
