extends layout

block content
	h1= title

	section#sidebar
		nav#sidebar-nav
			h2 C语言：基础功能
			.list-group
				a.list-group-item.active(href="#") Hello World!
				a.list-group-item(href="#") What's your name?
				a.list-group-item(href="#") Let's compute!
				a.list-group-item(href="#") If statements
				a.list-group-item(href="#") Loops in C
				a.list-group-item(href="#") Switch case
		#sidebar-controls
			a.sidebar-rewatch(href="#") 观看教学视频
			a.sidebar-slides(href="#", target="blank") 下载幻灯片
		footer
			a.sidebar-about(href="#") A Bulblor Labs Product

	section#editor-panels
			ul.nav.nav-tabs
				li.active
					a(data-target="#tab-pane-1") helloworld.c
				li
					a(data-target="#tab-pane-2") whatsyourname.c
			.tab-content
				.tab-pane.fade.active.in#tab-pane-1
					.editor= lesson.data
				.tab-pane.fade#tab-pane-2
					.editor= lesson.data

			button.btn.btn-default#compile 编译
			button.btn.btn-primary#run 运行

	section#output-panels
			ul.nav.nav-tabs
				li.active
					a(data-target="console") 控制台
			.tab-content
				.tab-pane.fade.active.in#console
					p >gcc helloworld.c
	script(type="text/javascript", src="/javascripts/lib/ace.js")
	script(type="text/javascript", src="/javascripts/lib/ext-modelist.js")
	script(type='text/javascript').
		$(".nav-tabs a").click(function (e) {
			$(this).tab('show')
		})
		$(".editor").each(function(index) {
			var editor = ace.edit(this);
			editor.setTheme("ace/theme/chrome");
			var modelist = require('ace/ext/modelist');
			var mode = modelist.getModeForPath("#{lesson.file}")
			editor.getSession().setMode(mode.mode);
			editor.setFontSize(14)
		});
		