extends layout
	
block content
	h1= title

	#instructions.col-sm-12.col-md-6

	#exercises.col-sm-12.col-md-6
		#editor-panels
				ul#editor-tabs.nav.nav-tabs
				#editor-buffers.tab-content

		#exercise-links.btn-toolbar
			.btn-group
				button.btn.btn-default 提示

			.btn-group.pull-right
				button#commit.btn.btn-success(title="编译并运行代码") 提交
				button.btn.btn-default 下一个

		#output-panels
			ul.nav.nav-tabs
				li.active
					a(data-target="terminal") 控制台
			.tab-content
				.tab-pane.fade.active.in#terminal
	link(rel='stylesheet', href='/javascripts/codemirror/lib/codemirror.css', media="all")
	link(rel='stylesheet', href='/javascripts/codemirror/theme/solarized.css', media="all")
	script(type="text/javascript", src="/javascripts/codemirror/lib/codemirror.js")
	script(type="text/javascript", src="/javascripts/codemirror/addon/mode/loadmode.js")
	script(type="text/javascript", src="/javascripts/codemirror/addon/search/searchcursor.js")
	script(type="text/javascript", src="/javascripts/codemirror/mode/meta.js")
	script(type="text/javascript", src="/javascripts/jquery-ui-1.10.3.custom.min.js")
	script(type="text/javascript", src="/javascripts/course.js")
	script(type='text/javascript').
		var exercises = JSON.parse(!{JSON.stringify(exedb)});
		Course(exercises[0])
