html, body,h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
}
code, pre { font-family: Monaco, Consolas}
body { padding: 20px; }
h2 { font-size: 20px;}
/*a { color: #00B7FF;}*/

/*
* Custom Bootstrap
*/
.navbar-brand {padding: 8px; }
.row { margin-top: 5px; }

.nav.nav-tabs li {margin-right: 2px;}
.nav.nav-tabs li a {
	padding: 4px 8px 4px 8px;
	color:rgb(68, 66, 69);
	background-color: rgb(163, 156, 159);
	background-image: -webkit-linear-gradient(top, rgb(173, 167, 170), rgb(163, 156, 159));
	cursor: pointer;
}
.nav.nav-tabs li.active a {
	color: rgb(122, 178, 193);
	background-color: rgb(255, 255, 255);
	background-image: -webkit-linear-gradient(top, rgb(229, 240, 243), rgb(255, 255, 255));
	cursor: default;
}



#sidebar {
	float:left;
	width: 200px;
	background-color: rgba(239,247,252,0.3);
}


#sidebar-controls a {
	width: 60px;
	text-align: center;
	vertical-align: baseline;
}

#sidebar footer {
	bottom: 0;
	position: absolute;
}

#editor-panels {
	float: left;
	width: 45%;
}

.editor { 
    height: 500px;
    min-width: 350px;
    font-family: Monaco;
}

#output-panels {
	float: right;
	width: 37%;
	margin: 0 2% 0 0;
	display: inline;

}

#console
{
	height: 500px;
	background-color: black;
}

#console pre {
	border-style: none;
	font-family: Monaco;
	background-color: black;
	color: gray;
	font-weight: bold;
}