html, body,h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
}
code, pre { font-family: Monaco, Consolas}
body { padding: 20px; }
h2 { font-size: 20px;}
/*a { color: #00B7FF;}*/

/*
* Custom Bootstrap
*/
.navbar-brand {padding: 8px; }
.row { margin-top: 5px; }

.nav.nav-tabs li {margin-right: 2px;}
.nav.nav-tabs li a {
	padding: 4px 8px 4px 8px;
	color:rgb(68, 66, 69);
	background-color: rgb(163, 156, 159);
	background-image: -webkit-linear-gradient(top, rgb(173, 167, 170), rgb(163, 156, 159));
	cursor: pointer;
}
.nav.nav-tabs li.active a {
	color: rgb(122, 178, 193);
	background-color: rgb(255, 255, 255);
	background-image: -webkit-linear-gradient(top, rgb(229, 240, 243), rgb(255, 255, 255));
	cursor: default;
}


#exercises {
}
#editor-panels {
	
}

.editor { 
    height: 300px;
    min-width: 350px;
    font-family: Monaco;
}

#exercise-links{
	width: 100%;
	padding-right: 80px;
	padding-left: 80px;
}
#output-panels {
	
}

#console
{
	height: 300px;
	background-color: black;
	overflow:auto;
}

#console pre {
	border-style: none;
	font-family: Monaco;
	background-color: black;
	color: gray
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


#console pre.active {
	border-radius: 0px;
	border-top: 1px solid gray;
	color: white;
}
