html, body,h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
}
code, pre { font-family: Monaco, Consolas}
body { padding: 20px; }
h2 { font-size: 20px;}
/*a { color: #00B7FF;}*/

/*
* Custom Bootstrap
*/
.navbar-brand {padding: 8px; }
.row { margin-top: 5px; }

.nav.nav-tabs li {margin-right: 2px;}
.nav.nav-tabs li a {
	padding: 4px 8px 4px 8px;
	color:rgb(68, 66, 69);
	background-color: rgb(163, 156, 159);
	background-image: -webkit-linear-gradient(top, rgb(173, 167, 170), rgb(163, 156, 159));
	cursor: pointer;
}
.nav.nav-tabs li.active a {
	color: rgb(122, 178, 193);
	background-color: rgb(255, 255, 255);
	background-image: -webkit-linear-gradient(top, rgb(229, 240, 243), rgb(255, 255, 255));
	cursor: default;
}


#exercises {
}
#editor-panels {
	
}

.editor { 
    height: 300px;
    min-width: 350px;
    font-family: Monaco;
}


.CodeMirror-widget {
	background-color: rgb(213, 215, 217);
	background-origin: padding-box;
	border-radius: 20px;
	color: rgb(0, 0, 0);
	cursor: text;
}

.CodeMirror-widget.hilight {
	background-color: #b58900;
}

.CodeMirror-linewidget .keepwhitespaces {
	white-space: pre;
	tab-size:4;	
}

.CodeMirror-linewidget .error {
	background: #a51e22;
	text-shadow: none;/*#a51e22 0px 1px 0px;*/
	color: #fff;
	padding-left: 4px;
	padding-right: 4px;
	tab-size:4;
}


.CodeMirror-linewidget .warning {
	background: #b58900;
	text-shadow: none; /*#b58900 0px 1px 0px;*/
	color: #fff;
	padding-left: 4px;
	padding-right: 4px;
	tab-size:4;
}

#exercise-links{
	width: 100%;
	padding-right: 80px;
	padding-left: 80px;
}
#output-panels {
	
}

#terminal
{
	height: 300px;
	background-color: black;
	overflow:auto;
}

#terminal pre {
	font-family: Monaco;
	background-color: black;
	color: gray;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-style: none;
	border-radius: 0px;
	border-top: 1px dashed darkgray;
}

#terminal pre:first-child {
	border-top: 0px none;
}

#terminal pre.active {
	color: white;
}

#terminal pre.active.black {
	border-top: 0px none;
	color: black;
}